body {
    background-image: url(images8.jpg);
    background-size: cover;
}
    *{
    padding: 0px;
    margin: 0px;
}

#container h2{
    margin-top: 30px;
    text-align: ;
}

#container{
    margin-left: 250px;
}

#container input{
    padding: 10px;
    width: 400px;
}

button{
    padding: 10px;
    height: 40px;
    width: 100px;
    margin-top: 10px;
    font-family: tahoma;
    font-size: 15px;
}