body {
    background-image: url(../image/images8.jpg);
    background-size: cover;
}
    *{
    padding: 0px;
    margin: 0px;
}

#container h2{
    margin-top: 30px;
    text-align:center;
}

/*#container{
    margin-left: 250px;*/

#container input{
    padding: 2px;
    width: 400px;
    text-align: center;
}

button{
    padding: 10px;
    height: 40px;
    width: 100px;
    margin-top: 10px;
    font-family: tahoma;
    font-size: 15px;
}

.main input{
    width: 500px;
    height: 70px;
    
}
.name{
    margin-left: 40%;
    margin-top: 10%;
}
.sendingLayout{
    font-size: 20px;
}
h1{
    text-align: center;
    font-size: 50px;
}